.analysis {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
  }
  
  .metrics {
    margin-top: 20px;
  }
  
  .metrics h3 {
    margin: 0 0 10px 0;
    color: #00ff00;
  }
  
  .metrics ul {
    list-style-type: none;
    padding: 0;
  }


  
  .metric-descriptions {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .metric-descriptions h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .metric-descriptions ul {
    font-size: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .metric-descriptions li {
    font-size: 20px;
    margin-bottom: 10px;
  }
  