.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Reset some default styles */
body, html, h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

/* Header styling */

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  color: #61dafb;
  margin: 0;
}

.App-header nav {
  margin-top: 10px;
}

.App-header nav a {
  color: #61dafb;
  margin: 0 10px;
  text-decoration: none;
}

.App-header nav a:hover {
  text-decoration: underline;
}

/* Main content styling */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Form styling */
form {
  background-color: #2c2c2c;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  display: flex; /* Make form a flex container */
  flex-direction: row; /* Arrange children in a row */
  justify-content: space-between; /* Space out the left and right containers */
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}


.leftContainer, .rightContainer {
  flex: 1; /* Make containers take up equal space */
  margin: 10px;
  display: flex;
  flex-direction: column;
}


.strategy {
  width: 100%;
  height: 200px;
  resize: vertical;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #3a3a3a;
  color: #e0e0e0;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="number"],
input[type="date"],
textarea,
select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #3a3a3a;
  color: #e0e0e0;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:20px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Card styling */
.card {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
}

/* Results section styling */
h2 {
  margin-bottom: 20px;
  color: #61dafb;
  text-align: center;
}

.results-section {
  max-width: 100%;
  width: 100%;
}

.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.chart-wrapper{
  width: 100%;
  height: 400px; /* Adjust as needed */
  position: relative;

}
.table-container {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width:100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #444;
  text-align: center;
}

th {
  background-color: #3a3a3a;
}


a{
  font-size:20px;
}